body {
    font-family: 'Roboto', sans-serif !important;
}
.scores {
    max-height: 320px;
    overflow-y: auto;
}

.section.main-title {
    padding: 0;
    margin: 30px 0 30px 0;
}
input.filter {
    width: 200px;
    margin: 10px;
}